[project]
	description = Integration with Gerrit Code Review and Github-style webhook-supporting services
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JT Olds (jtolds)
[access "refs/for/refs/*"]
	read = group user/JT Olds (jtolds)
	push = group user/JT Olds (jtolds)
	label-Code-Review = -2..+2 group user/JT Olds (jtolds)
	label-Verified = -1..+1 group user/JT Olds (jtolds)
	rebase = group user/JT Olds (jtolds)
	removeReviewer = group user/JT Olds (jtolds)
	submit = group user/JT Olds (jtolds)
[access "refs/heads/*"]
	read = group user/JT Olds (jtolds)
	create = group user/JT Olds (jtolds)
	push = +force group user/JT Olds (jtolds)
	pushMerge = group user/JT Olds (jtolds)
[access "refs/tags/*"]
	push = +force group user/JT Olds (jtolds)
	pushTag = group user/JT Olds (jtolds)
	pushSignedTag = group user/JT Olds (jtolds)
